*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(pexels-drift-shutterbug-2085998.jpg);
    background-position: center;
    background-size: cover;
}
.containerLeft{
    width: 300px;
    height: 100vh;
    overflow: hidden;
}
.logoLeft img{
    border-radius: 50%;
    width: 300px;
    height: 400px;
}
#active{
    padding-left: 100px;
    padding-bottom: 30px;
}
#about{
    padding-left: 100px;
    padding-bottom: 30px;
}
#projects{
    padding-left: 100px;
    padding-bottom: 30px;
}
#gallery{
    padding-left: 100px;
    padding-bottom: 30px;
}
#contact{
    padding-left: 100px;
    padding-bottom: 30px;
    
}
.menuLeft ul li a{
    font-family: 'Lobster', cursive;
    border: 2px solid rgb(254,184,61);
    border-radius: 50px;
    font-size: 20px;
    display: flex;
    padding-top: 20px;
    text-decoration: none;
    margin-top: 1rem;
    color: whitesmoke;
    transition: .7s;
}
.menuLeft ul li a:hover{
    background-color: rgb(168, 162, 162);
    color: rgb(254,184,61);
    font-size: 40px;
}
.aboutHome .box1{
    max-width: 1400px;
    height: 200px;
    background-color: transparent;
    margin-left: 100px;
    margin-bottom: 600px;
    outline-style: double;
    outline-color: rgb(254,184,61);
    outline-width: 10px;
}
.aboutHome .box1 h1{
    font-family: 'Lobster', cursive;
    font-size: 150px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    box-shadow: 0 0 50px;
    margin-bottom: 3rem;
}
header{
    display: flex;
    
}
section{
    width: 100%;
    margin: auto;
}

.cardsParent{
    display: flex;
}
.ImageGroup1 .image_1 img{
    margin-left: 3rem;
    width: 250px;
    height: 250px;
    border: 2px solid red;
    filter: grayscale(100%);
    transition: .5s;
}
.ImageGroup1 .image_1 img:hover{
    filter: none;
}
.ImageGroup1 .image_2 img{
    width: 250px;
    height: 250px;
    border: 2px solid red;
    filter: grayscale(100%);
    transition: .5s;
}
.ImageGroup1 .image_2 img:hover{
    filter: none;
}
.ImageGroup1 .image_3 img{
    width: 250px;
    height: 250px;
    border: 2px solid red;
    filter: grayscale(100%);
    transition: .5s;
}
.ImageGroup1 .image_3 img:hover{
    filter: none;
}
.ImageGroup1 .image_4 img{
    width: 250px;
    height: 250px;
    border: 2px solid red;
    filter: grayscale(100%);
    transition: .5s;
}
.ImageGroup1 .image_4 img:hover{
    filter: none;
}
.cardsParent .ImageGroup1{
    display: flex; 
}
.ImageGroup1 a{
    margin-right: 100px;
}
.ImageGroup2 .image_5 img{
    margin-left: 3rem;
    width: 250px;
    height: 250px;
    border: 2px solid red;
    filter: grayscale(100%);
    transition: .5s;
}
.ImageGroup2 .image_5 img:hover{
    filter: none;
}
.ImageGroup2 .image_6 img{
    width: 250px;
    height: 250px;
    border: 2px solid red;
    filter: grayscale(100%);
    transition: .5s;
}
.ImageGroup2 .image_6 img:hover{
    filter: none;
}
.ImageGroup2 .image_7 img{
    width: 250px;
    height: 250px;
    border: 2px solid red;
    filter: grayscale(100%);
    transition: .5s;
}
.ImageGroup2 .image_7 img:hover{
    filter: none;
}
.ImageGroup2 .image_8 img{
    width: 250px;
    height: 250px;
    border: 2px solid red;
    filter: grayscale(100%);
    transition: .5s;
}
.ImageGroup2 .image_8 img:hover{
    filter: none;
}
.cardsParent2 .ImageGroup2 {
    display: flex; 
}
.ImageGroup2 a{
    margin-top: 3rem;
    margin-right: 100px;
}

@media screen and (max-width:920px) {

    body{
        background-image: url(pexels-drift-shutterbug-2085998.jpg);
        background-position: center;
        background-size: cover;
    }
    nav {
        display: none;
    }
    .about .box1{
        height: 50px;
        margin-top: 100px;
        position: relative;
        left: -50px;
    }
    .about .aboutHome .box1 h1{
        font-size: 40px; 
        left: 80px;
        position: absolute;
        bottom: -50px;
    }
    .cardsParent .ImageGroup1 .image_1 img{
        position: absolute;
        width: 120px;
        height: 120px;
        filter: none;
        left: -30px;
        top: 80px;
        
    }
    .cardsParent .ImageGroup1 .image_2 img{
        position: absolute;
        width: 120px;
        height: 120px;
        filter: none;
        left: 170px;
        top: 80px;
    } 
    .cardsParent .ImageGroup1 .image_3 img{
        position: absolute;
        width: 120px;
        height: 120px;
        filter: none;
        left: 18px;
        top: 220px;
    } 
    .cardsParent .ImageGroup1 .image_4 img{
        position: absolute;
        width: 120px;
        height: 120px;
        filter: none;
        left: 170px;
        top: 220px;
    }
    .cardsParent2 .ImageGroup2 .image_5 img{
        position: absolute;
        width: 120px;
        height: 120px;
        filter: none;
        top: 360px;
        left: -30px;
       
    } 
    .cardsParent2 .ImageGroup2 .image_6 img{
        position: absolute;
        width: 120px;
        height: 120px;
        filter: none;
        left: 170px;
        top: 360px; 
    } 
    .cardsParent2 .ImageGroup2 .image_7 img{
        position: absolute;
        width: 120px;
        height: 120px;
        filter: none;
        left: 20px;
        top: 500px;
    }
    .cardsParent2 .ImageGroup2 .image_8 img{
        position: absolute;
        width: 120px;
        height: 120px;
        filter: none;
        left: 170px;
        top: 500px; 
    } 
}