*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(pexels-drift-shutterbug-2085998.jpg);
    background-position: center;
    background-size: cover;
    /* background-color: rgb(221,221,221); */
}
.containerLeft{
    width: 300px;
    height: 100vh;
    /* background-color: rgb(254,184,61); */
    /* opacity: 0.8; */
    /* border: 2px solid red; */
    overflow: hidden;
}
.logoLeft img{
    border-radius: 50%;
    width: 300px;
    height: 400px;
}
#active{
    padding-left: 100px;
    padding-bottom: 30px;
}
#about{
    padding-left: 100px;
    padding-bottom: 30px;
}
#projects{
    padding-left: 100px;
    padding-bottom: 30px;
}
#gallery{
    padding-left: 100px;
    padding-bottom: 30px;
}
#contact{
    padding-left: 100px;
    padding-bottom: 30px;
    
}
.menuLeft ul li a{
    font-family: 'Lobster', cursive;
    border: 2px solid rgb(254,184,61);
    border-radius: 20px;
    font-size: 20px;
    /* font-weight: 600; */
    display: flex;
    padding-top: 30px;
    /* margin-top: 80px; */
    /* margin-left: 100px; */
    text-decoration: none;
    /* position: relative; */
    margin-top: 1rem;
    color: whitesmoke;
    transition: .7s;
}

.menuLeft ul li a:hover{
    color: rgb(254,184,61);
}

.aboutHome .box1{
    max-width: 1400px;
    height: 200px;
    background-color: transparent;
    margin-left: 100px;
    margin-bottom: 600px;
    outline-style: double;
    outline-color: rgb(254,184,61);
    outline-width: 10px;
}
.aboutHome .box1 h1{
    font-family: 'Lobster', cursive;
    font-size: 150px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    box-shadow: 0 0 50px;
}
.aboutHome .box1 h2{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: whitesmoke;
    font-weight: bold;
    margin-top: 3rem;
}
.aboutHome .box1 p{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: whitesmoke;
    margin-top: 1rem;
    line-height: 2rem;
}
header{
    display: flex;
    
}
section{
    width: 100%;
    margin: auto;
}
span{
    color: rgb(254,184,61);
}