*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(pexels-drift-shutterbug-2085998.jpg);
    background-position: center;
    background-size: cover;
}
.container{
    width: 80%;
    margin: auto;
}
nav{
    width: 100%;
    background: linear-gradient(-90deg, transparent 65%, white 35%);
}
.parent{
    display: flex;
    justify-content: space-between;
}
.menu ul li{
    display: inline-block;
    margin-left: 2rem;
    margin-top: 1rem;
}
.menu ul li a{
    font-family: 'Lobster', cursive;
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    transition: .7s;
}

.menu .list a{
    visibility: hidden;
    font-size: 40px;
    color: whitesmoke;
}

.menu{
    margin-top: 1.5rem;
}
.logo a{
    font-size: 70px;
    font-weight: 600;
    font-family: 'Herr Von Muellerhoff', cursive;
    color:rgb(252, 185, 1);
    text-decoration: none;
    transition: 1s;
}
#active{
    color:rgb(252, 185, 1);
}
.parent a:hover{
    color:rgb(252, 185, 1) !important;
}
.social ul li{
    display: inline-block;
}
.home{
    height: 89.2vh;
    background: linear-gradient(-90deg, transparent 65%, white 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
.home .homeContent{
    max-width: 700px;
    color: white;
    text-align: right;
}
.home .homeContent h1{
    font-size: 55px;
    line-height: 1.2;
    font-family: 'Carter One', cursive;
    color:rgb(252, 185, 1)
}
.home .homeContent h3{
    font-family: 'Lobster', cursive;
    font-family: 'Carter One', cursive;
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: .5px white;
    background-image: linear-gradient(#00abf0, #00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -410px 0;
    animation: animetext 6s linear infinite;
}
.home .homeContent p{
    font-family: 'Lobster', cursive;
    font-size: 16px;
    margin-top: 20px;
}

.home .homeImage{
    background-image: url(pexels-drift-shutterbug-2085998.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 700px;
    outline: 10px solid rgb(252, 185, 1);
}
.home .homeImage img{
    position: relative;
    width: 450px;
    height: 600px;
}
.social{
    margin: 25px 0 40px;
}
.social ul li a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: #0a66bd;
    margin-left: 12px;
    transition: .5s;
}
.social ul li a:hover{
    background: #00abf0;
    color: white;
    border-color: #00abf0;
    box-shadow: 0 0 10px #00abf0;
}
.homeContent .btn{
    padding: 12px 35px;
    background: #00abf0;
    border-radius: 40px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #00abf0;
    transition: .5s;
}
.homeContent .btn:hover{
    box-shadow: none;
}

@keyframes animetext{
    0%,95%,100%{
        background-position: -410px 0;
    }
    65%,85%{
        background-position: 0 0;
    }
}

@media screen and (max-width:920px) {
    .menu ul li{
        display: none;
    }
    .home .homeImage {
        display: none;
    }
    body{
        background-image: url(pexels-drift-shutterbug-2085998.jpg);
        background-position: center;
        background-size: cover;
    }
    nav{
        background: linear-gradient(-90deg, transparent 65%, transparent 35%);
    }
    .home{
        background: linear-gradient(-90deg, transparent 65%, transparent 35%);
    }
    .home .homeContent{
        display: block;
    }
    .home .homeContent h3{
        font-size: 30px;
    }
    .home .homeContent h1{
        font-size: 40px;
    }
    .menu .list a{
        visibility: visible;
    }
    .home .homeContent{
        text-align: left;
    }
}