*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(pexels-drift-shutterbug-2085998.jpg);
    background-position: center;
    background-size: cover;
}
.containerLeft{
    width: 300px;
    height: 100vh;
    overflow: hidden;
}
.logoLeft img{
    border-radius: 50%;
    width: 300px;
    height: 400px;
}
#active{
    padding-left: 100px;
    padding-bottom: 30px;
}
#about{
    padding-left: 100px;
    padding-bottom: 30px;
}
#projects{
    padding-left: 100px;
    padding-bottom: 30px;
}
#gallery{
    padding-left: 100px;
    padding-bottom: 30px;
}
#contact{
    padding-left: 100px;
    padding-bottom: 30px;
    
}
.menuLeft ul li a{
    font-family: 'Lobster', cursive;
    border: 2px solid rgb(254,184,61);
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    padding-top: 30px;
    text-decoration: none;
    position: relative;
    margin-top: 1rem;
    color: whitesmoke;
}
.menuLeft ul li a:hover{
    color: rgb(254,184,61);
}
.aboutHome .box1{
    max-width: 1400px;
    height: 200px;
    background-color: transparent;
    margin-left: 100px;
    margin-bottom: 600px;
    outline-style: double;
    outline-color: rgb(254,184,61);
    outline-width: 10px;
}
.aboutHome .box1 h1{
    font-family: 'Lobster', cursive;
    font-size: 150px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    box-shadow: 0 0 50px;
}
header{
    display: flex;
    
}
section{
    width: 100%;
    margin: auto;
}
span{
    color: rgb(254,184,61);
}